html{
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
*{
    box-sizing:inherit;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.wrapper{
    width:90%;
    padding: 5% 20%;
}
.bayan__title{
    color:blue;
    font-weight: 700;
    font-size: 1.5em;
}
.detail-info{
    width:80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.text__mem{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 700;
}
.image__mem{
    width:60%;
    height: 80%;
}

.bayan__item .detail-info {
    width: 100%;
    height: 0;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden; 
}
.bayan__item label {
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    transition: color .35s;
}
.bayan__item input{
    display: none;
}

.bayan__title input:checked + label + .detail-info {
    padding-bottom: 15px;
}

.bayan__item input:checked + label + .detail-info {
    height: auto;
    overflow: visible;
}
.bayan__item input + label:hover + .detail-info {
    height: auto;
    overflow: visible;
}
